.header {
  background: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.logoLink {
  text-decoration: none;
}

.logo h1 {
  color: #c494ff;
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}

.logo span {
  color: #666;
  font-size: 0.9rem;
}

.nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navButton {
  width: 150%;
  padding: 10px;
  background: #c494ff;
  color: white;
  border: none;
  border: 2px solid #c494ff;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navButton:hover {
  color: #c494ff;
  background-color: white;
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(226, 108, 255, 0.4);
}

.port {
  font-family: 'Arial', sans-serif;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.navButton:active {
  background: #c494ff;
  color: white;
  transform: translateY(2px);
  box-shadow: none;
}

.navLink {
  text-decoration: none;
  width: 100%;
  font-size: 16px;
  padding: 5px;
  color: #c494ff;
  background-color: white;
  border: 2px solid #c494ff;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 20px;
  font-family: 'Arial', sans-serif;
  line-height: 1.2;
  
}

.navLink:hover {
  background: #c494ff;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(226, 108, 255, 0.4);
}

.navLink:active {
  color: #c494ff;
  background-color: white;
  transform: translateY(2px);
  box-shadow: none;
}

.loginBtn, .registerBtn {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s;
}

.loginBtn {
  background: transparent;
  border: 2px solid #c494ff;
  color: #c494ff;
}

.registerBtn {
  background: transparent;
  border: 2px solid #c494ff;
  color: #c494ff;
}

.loginBtn:hover {
  background: #c494ff;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(226, 108, 255, 0.4);
}

.registerBtn:hover {
  background: #c494ff;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(226, 108, 255, 0.4);
}

.loginBtn:active {
  color: #c494ff;
  background: transparent;
  transform: translateY(2px);
  box-shadow: none;
}

.registerBtn:active {
  color: #c494ff;
  background: transparent;
  transform: translateY(2px);
  box-shadow: none;
}

.logoutBtn {
  padding: 0.5rem 1rem;
  background: transparent;
  border: 2px solid #ff6b6b;
  color: #ff6b6b;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
}

.logoutBtn:hover {
  background: #ff6b6b;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(233, 76, 14, 0.4);
}

.logoutBtn:active {
  background: transparent;
  color: #ff6b6b;
  transform: translateY(2px);
  box-shadow: none;
}